* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
}
.container {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  border: 2px solid black;
  width: 350px;
  box-shadow: 10px 10px black;
}
.illustration {
  width: 100%;
  border-radius: 12px;
  object-fit: contain;
  margin-bottom: 16px;
}
.learning {
  background-color: hsl(47, 88%, 63%);
  padding: 5px 10px;
  border-radius: 7px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: capitalize;
  display: inline-block;
}
.date {
  /* color: hsl(0, 0%, 42%); */
  color: hsl(0, 0%, 7%);
  text-transform: capitalize;
  margin-bottom: 20px;
}
.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.discription {
  color: hsl(0, 0%, 42%);
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}
.profile-img {
  display: inline-block;
  width: 35px;
}
.name {
  font-weight: 700;
  text-transform: capitalize;
}
